.selectbox {
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
	cursor: pointer;
	outline: none;
	width: 170px;
	height: fit-content;
	margin-top: 30px;
	font-family: "euclidCircularA", "Nunito", sans-serif;
	font-size: 14px;
	border-radius: 30px;
}

.selectbox__option {
	font-family: "euclidCircularA", "Nunito", sans-serif;
	font-size: 14px;
	background-color: #fff;
}
